# APP_URL: The URL where this app is hosted.
# Used for self-referential links, API endpoints, and other references.
APP_URL="http://localhost:3000"

# Cloud SQL Connection Details
SQL_HOST=
SQL_DB_NAME=
SQL_USER=
SQL_PASSWORD=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=
